$headerHeight:50px;
$color: rgba(0, 0, 0, 0.8);
$buttonColor: #3f51b5;
:global {
  /* 字体大小 */
  *{
    font-size: 12pt;
    font-family: Arial, MingLiU, Helvertica, sans-serif, 'Arial Unicode MS';
    font-style: normal;
  }
  ::-ms-clear{display: none;}
  ::-ms-reveal{display: none;}
  ::-o-clear{display: none;}
  .s_fs_12 {
    font-size: 12pt;
  }
  .s_fs_13 {
    font-size: 13pt;
  }
  .s_fs_14 {
    font-size: 14pt;
  }
  .s_fs_16 {
    font-size: 16pt;
  }
  .s_fs_18 {
    font-size: 18px;
  }
  .s_fs_20 {
    font-size: 20px;
  }
  .s_fs_22 {
    font-size: 22px;
  }
  .s_fs_24 {
    font-size: 24px;
  }
  .s_fs_26 {
    font-size: 26px;
  }
  .s_fs_40 {
    font-size: 40px;
  }
  /* margins */
  .f_mb5 {
    margin-bottom: 5px;
  }
  .f_mr5 {
    margin-right: 5px;
  }
  .f_ml5 {
    margin-left: 5px;
  }
  .f_mt5 {
    margin-top: 5px;
  }

  .f_mb10 {
    margin-bottom: 10px;
  }
  .f_mr10 {
    margin-right: 10px;
  }
  .f_ml10 {
    margin-left: 10px;
  }
  .f_mt10 {
    margin-top: 10px;
  }

  .f_mb15 {
    margin-bottom: 15px;
  }
  .f_mr15 {
    margin-right: 15px;
  }
  .f_ml15 {
    margin-left: 15px;
  }
  .f_mt15 {
    margin-top: 15px;
  }

  .f_mb20 {
    margin-bottom: 20px;
  }
  .f_mr20 {
    margin-right: 20px;
  }
  .f_ml20 {
    margin-left: 20px;
  }
  .f_mt20 {
    margin-top: 20px;
  }

  .f_mb40 {
    margin-bottom: 40px;
  }
  .f_mr40 {
    margin-right: 40px;
  }
  .f_ml40 {
    margin-left: 40px;
  }
  .f_mt40 {
    margin-top: 40px;
  }
  /* paddding */
  .f_padding_10 {
    padding: 10px;
  }
  /* 浮动float */
  .f_over_hide {
    overflow: hidden;
  }
  .f_fl {
    float: left;
  }
  .f_fr {
    float: right;
  }
  .select_custome {
    height: 32px;
    border: 1px solid;
  }

  .border {
    border: 1px solid #e6e6e6;
  }

  .hide{
    display: none!important
  }

  /* body */
  .main_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
  }
  .nephele_main_body {
    // width: calc(100% - 0px);
    // height: calc(100% - 50px);
    //background: #EDF2F4;
    display: flex;
    flex-flow: column;
    flex:1;
    overflow-y: auto;
    // margin-top: $headerHeight;
    // // padding: 10px 0;
    // position: relative;
  }
  .detail_warp {
    height: 100%;
    width: 100%;
  }
  .nephele_content_body {
    flex: 1;
    flex-flow: column;
    // padding: 5px 10px;
    // padding: 0px 10px;//Consultation test
    background-color: white;
    border-top: 1px solid #e6e6e6;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
    // margin-bottom: 10px;
  }
  /* header */
  .com_header {
    width: 100%;
    height: $headerHeight;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #dcdcdc;
  }
  @mixin com_header_menu_list_basic {
    display: inline-block;
    height: $headerHeight;
    line-height: $headerHeight;
    // width: calc(100% - 310px);
  }
  .com_header_right_warp {
    // display: inline-block;
    height: $headerHeight;
    line-height: $headerHeight;
    float: right;
    width: 310px;
  }
  @mixin menu_item_basic {
    text-decoration: none; //去掉下划线
    height: 30px;
    padding: 10px 0px 10px 10px;
    color: $buttonColor;
  }
  .menu_icon {
    vertical-align: middle;
  }
  .com_header_right_warp_item {
    height: $headerHeight;
    min-width: 250px;
    cursor: pointer;
  }
  @mixin com_header_right_warp_name_basic {
    height: 30px;
    line-height: 30px;
    color: $color;
    font-weight: 500;
  }
  @mixin com_header_right_warp_time_basic {
    height: 20px;
    line-height: 20px;
    color: $color;
    font-weight: 400;
  }
  @mixin menu_font_basic {
    font-weight: 600;
    vertical-align: middle;
    padding: 3px;
    border-radius: 5px;
  }
  @media (min-width: 800px) {
    .com_header_menu_list {
      @include com_header_menu_list_basic;
      overflow: auto;
    }
    .menu_font {
      @include menu_font_basic;
      font-size: x-small;
      color: #0579c8;
      background-color: #ffffff;
    }
    .menu_font:hover {
      @include menu_font_basic;
      font-size: x-small;
      background-color: #0579c8;
      color: #ffffff;
    }
    .menu_font_selected {
      @include menu_font_basic;
      font-size: x-small;
      background-color: #0579c8;
      color: #ffffff;
    }
    .com_header_right_warp_name {
      @include com_header_right_warp_name_basic;
      font-size: 15px;
    }
    .com_header_right_warp_time {
      @include com_header_right_warp_time_basic;
      font-size: x-small;
    }
    .menu_item {
      @include menu_item_basic;
      padding: 10px 0px 10px 1px;
    }
  }
  @media (min-width: 1280px) {
    .com_header_menu_list {
      @include com_header_menu_list_basic;
      overflow: hidden;
    }
  }
  @media (min-width: 1360px) {
    .menu_font {
      @include menu_font_basic;
      font-size: 14px;
      color: #0579c8;
      background-color: #ffffff;
    }
    .menu_font:hover {
      @include menu_font_basic;
      font-size: x-small;
      background-color: #0579c8;
      color: #ffffff;
    }
    .menu_font_selected {
      @include menu_font_basic;
      font-size: 14px;
      background-color: hsl(204, 95%, 40%);
      color: #ffffff;
    }
    .com_header_right_warp_name {
      @include com_header_right_warp_name_basic;
      font-size: 17px;
    }
    .com_header_right_warp_time {
      @include com_header_right_warp_time_basic;
      font-size: 14px;
    }
    .menu_item {
      @include menu_item_basic;
      padding: 10px 0px 10px 10px;
    }
  }

  @mixin select_input_basic {
    //margin-left: 10px;
    border: 1px solid #B8BCB9;
    padding-left: 8px;
    font-size: 14pt;
    border-radius: 2px;
    height: 26px;
    text-align: left;
    color:#000000;
  }
  .select_input_full {
    @include select_input_basic;
    margin-left: 0;
    width: 100%;
  }
  .select_input {
    @include select_input_basic;
    width: calc(80% + 8px);
  }
  .phone_select_input {
    @include select_input_basic;
    min-width: 65px;
  }

  /* inputField */
  // @mixin input_field_basic{
  //   border:1px solid #B8BCB9;
  //   border-radius: 2px;
  //   height: 26px;
  //   color:#000000;
  // }

  // .input_field{
  //   @include input_field_basic;
  //   width:80%,
  // }
  
  /* tab */
.tabNavigation{
  border: 1px solid #B8BCB9;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color:#FFFFFF;
  color:#0579C8;
  margin-right: 10px;
  }
  .tabSelected{
      border: 1px solid #B8BCB9;
      padding: 5px;
      border-radius: 5px 5px 0 0;
      background-color:#FFFFFF;
      color: '#000000';
      margin-right: 10px;
  }
  .tabNavigation:hover,.tabSelected:hover{
      color: #000000;
      background-color:#B8BCB9;
  }
  
  /* button */
  .btnElement{
      border:1px solid #0579C8;
      border-radius: 5px;
      color:#0579C8 ;
      background-color: #FFFFFF;
      padding: 3px;
      font-size: 14px;
  }
  .btnElement:hover{
      cursor: pointer;
      color: #FFFFFF;
      background-color:#0579C8 ;
  }

  /* input text */
  @mixin input_field_basic{
    //border:1px solid #B8BCB9;
    //border-radius: 2px;
    height: 26px;
    color:#000000;
  }

  .input_field{
    @include input_field_basic;
  }

  .lengthwaysFont{
    writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 
  }

  .titleFont{
    color: #000000;
    font-size: 12pt;
    font-weight:bold;
    font-family:"Arial";
  }

  .listItem{
    display: 'block'
  }
  .listItem:hover{
    background-color: rgba(0, 0, 0, 0.08)
  }
  .listItem:active{
    background-color: rgba(0, 0, 0, 0.1)
  }
  
  // .droptarget {
  //   // float: left; 
  //   // min-width: 200px; 
  //   // min-height: 30px;
  //   // opacity:1;
  //   // background-color: #FFFFFF;
  //   width:100%;
  //   display:table-cell;
  //   border: 0;
  //   border-radius: 2px;
  //   box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
  //   box-sizing: border-box;
  //   position: relative;
  //   // filter:Alpha(opacity=100,finishOpacity=100,style=3);
  //   // -webkit-filter:Alpha(opacity=100,finishOpacity=100,style=3);
  //   // margin: 15px;
  //   // padding: 10px;
  //   // border: 1px solid #aaaaaa;
  // }

}
