/* tab */
.tabNavigation{
border: 1px solid #B8BCB9;
padding: 5px;
border-radius: 5px 5px 0 0;
background-color:#FFFFFF;
color:#0579C8;
margin-right: 10px;
}
.tabSelected{
    border: 1px solid #B8BCB9;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background-color:#FFFFFF;
    color: '#000000';
    margin-right: 10px;
}
.tabNavigation:hover,.tabSelected:hover{
    color: #000000;
    background-color:#B8BCB9;
}

/* textbox */
.inputField{
    border:1px solid #B8BCB9;
    border-radius: 2px;
    height: 26px;
    color:#000000;
}

/* dropdown list */
.selectElement{
    border:1px solid #B8BCB9;
    border-radius: 2px;
    height: 26px;
    text-align: left;
    color:#000000;
}

/* button */
.btnElement{
    border:1px solid #0579C8;
    border-radius: 5px;
    color:#0579C8 ;
    background-color: #FFFFFF;
    padding: 3px;
    font-size: 14px;
}
.btnElement:hover{
    color: #FFFFFF;
    background-color:#0579C8 ;
}