//form label start
@mixin form_label_basic{
    font-weight:bold;
    color:black;
    margin-top: 3px;
  }
  .form_input_label_info{
    @include form_label_basic;
  }


.abbreviate_layout{
    border: 1px solid #cccccc;
    width: 45%;
    height: 100px;
}

.abbreviate_label{
    margin-left: 3px;
    margin-top: 7px;
}