.login {
  width: 100vw;
  // height: 100vh;
  overflow: auto;
}
.login_contain {
  width: 450px;
  margin: auto;
  height: 100%;
  position: relative;
  padding-top: 60px;
}
.login_information {
  margin-top: 20px;
  color: dimgray;
  width: 100%;
  display: inline-grid;
}
.float_margintLeft {
  float: left;
  margin-top: 10px;
  margin-left: 330px;
}
.float_margint {
  float: right;
  margin-top: 10px;
  margin-left: 330px;
}
.forget_password {
  font-size: 10pt;
  margin: 5px 0;
  font-weight: bold;
  color:#0579C8;
}
.forget_password:hover{
  cursor: pointer;
}
.login_notes {
  margin-left: 10px;
  color: dimgray;
  font-size: 14px;
}
.login_notes div {
  margin-top: 10px;
}
.select_boder {
  border: 1px solid rgba(0, 0, 0, 0.42);
  padding-left: 8px;
  border-radius: 2px;
  font-size: 16px;
  height: 31px;
  width:100%;
}
@mixin input_field_basic{
  height: 26px;
  color:#000000;
  margin-top: 5px;
  margin-bottom: 10px;
}
.form_input {
  @include input_field_basic;
  width: 100%;
  margin:8px 0px;
}
.contrl_spacing{
  margin-top: 5px;
  margin-bottom: 10px;
}